<div class="clr-container">
  <h1>UPLOAD Data TEST👋</h1>
  <form (ngSubmit)="onSubmit()" clrForm>
    <clr-input-container>
      <label for="textInput">Text eingeben:</label>
      <input
        clrInput
        type="text"
        id="textInput"
        [(ngModel)]="textInput"
        name="textInput"
        required
        placeholder="Geben Sie einen Text ein"
      />
    </clr-input-container>

    <button class="btn btn-outline" type="submit" [disabled]="!textInput">
      Upload
    </button>
  </form>

  <h5>Id der neuen Datei</h5>
  <span class="label label-info">{{ uploadID }}</span>
</div>
