.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header img {
  margin-right: 10px;
  margin-top: 10px;
}

.header .title {
  font-size: 24px;
  font-weight: bold;
}

.dropdown-menu {
  --clr-header-font-color: #000;
  --clr-header-font-color-hover: #000;
}

.nav-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;

  img {
    align-self: center;
  }
}

.hover-item {
  cursor: pointer;
  padding-left: 2px;
  padding-bottom: 10px;
}


.nav-content {
  padding-bottom: 4rem;
}

.page-footer {
  text-align: center;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: var(--clr-header-bg-color);

  p {
    color: #ddd;
  }
}