.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header img {
  margin-right: 10px;
  margin-top: 10px;
}

.header .title {
  font-size: 24px;
  font-weight: bold;
}

.dropdown-menu {
  --clr-header-font-color: #000;
  --clr-header-font-color-hover: #000;
}

.refresh {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
}

//Spin animation
.refresh-icon {
  display: inline-block;
  transition: transform 0.5s linear;
  width: 24px;
  height: 24px;

  &.spin {
    animation: spin 3s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;

  img {
    align-self: center;
  }
}

.hover-item {
  cursor: pointer;
  padding-bottom: 10px;
}

.nav-content {
  padding-bottom: 4rem;
}

.page-footer {
  flex: 0;
  text-align: center;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: var(--clr-header-bg-color);

  p {
    color: #ddd;
  }
}
.content-container .content-area {
  padding: 0 !important;
}

.main-content {
  padding: 1rem 1rem 1rem 1rem;
  height: 100vh;
}