<clr-main-container>
  <app-loading-overlay
    [isLoading]="isLoading$ | async"
    title="Synchronizing Metadata"
    subtitle="Please wait while we refresh the data..."
  >
  </app-loading-overlay>

  <clr-header class="header">
    <div class="header-hamburger-trigger" (click)="collapsed = !collapsed">
      <button type="button" class="header-hamburger">
        <cds-icon shape="bars"></cds-icon>
      </button>
    </div>

    <img src="../../../../public/team_logo.png" alt="Team Logo" width="50" />
    <span class="title">Metadata Analyzer</span>
    <div class="header-actions">
      <button class="refresh" (click)="refresh()" title="Refresh Data">
        <cds-icon
          [class.spin]="isRefreshing"
          shape="refresh"
          class="refresh-icon"
        ></cds-icon>
      </button>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="cog"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <button clrDropdownItem (click)="openNotificationSettingsModal()">
            <cds-icon shape="bell"></cds-icon>
            <span class="nav-text">Notifications</span>
          </button>
          <button clrDropdownItem>
            <cds-icon shape="envelope"></cds-icon>
            <span
              routerLinkActive="active"
              routerLink="email-receiver"
              class="nav-text"
              >Email Receiver</span
            >
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
      <app-notification-settings></app-notification-settings>
    </div>
  </clr-header>

  <div class="content-container">
    <clr-vertical-nav
      class="clr-vertical-nav has-nav-groups clr-nav-level-1 custom-nav"
      [clrVerticalNavCollapsible]="true"
      [clrVerticalNavCollapsed]="collapsed"
      (clrVerticalNavCollapsedChange)="collapsed = $event"
    >
      <div class="nav-content">
        <clr-vertical-nav-item
          clrVerticalNavLink
          clrAriaCurrentLink
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          class="hover-item nav-link"
        >
          <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
          <span class="nav-text">Dashboard</span>
        </clr-vertical-nav-item>

        <clr-vertical-nav-item
          clrVerticalNavLink
          clrAriaCurrentLink
          routerLink="/backup-statistics"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          class="nav-link hover-item"
        >
          <cds-icon clrVerticalNavIcon shape="line-chart"></cds-icon>
          <span class="nav-text">Backup Statistics</span>
        </clr-vertical-nav-item>

        <clr-vertical-nav-item
          routerLink="/alert"
          routerLinkActive="active"
          class="hover-item nav-link"
        >
          <cds-icon clrVerticalNavIcon shape="info-standard"></cds-icon>
          <span class="nav-text">Analysis</span>
        </clr-vertical-nav-item>

        <clr-vertical-nav-item
          routerLink="/findData"
          routerLinkActive="active"
          class="hover-item nav-link"
        >
          <cds-icon clrVerticalNavIcon shape="search"></cds-icon>
          <span class="nav-text">Find Data</span>
        </clr-vertical-nav-item>
      </div>

      <div class="nav-footer">
        <img
          src="../../../../public/team_logo.png"
          alt="Team Logo"
          width="50"
          *ngIf="collapsed === false"
        />
        <clr-vertical-nav-item
          routerLink="/user-manual"
          routerLinkActive="active"
          class="hover-item nav-link"
        >
          <cds-icon clrVerticalNavIcon shape="book"></cds-icon>
          <span class="nav-text">How to get started?</span>
        </clr-vertical-nav-item>
      </div>
    </clr-vertical-nav>

    <main class="content-area">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

      <footer class="page-footer">
        <div>
          <p>&copy; 2025 Metadata Analyzer. All rights reserved.</p>
        </div>
      </footer>
    </main>
  </div>
</clr-main-container>
