<div class="card info">
  <div class="card-block">
    <div class="card-text">
      <p>On this page, you can:</p>
      <ul>
        <li>
          <strong>See Alerts</strong>: View the current status and details of
          any alerts that have been triggered. Alerts are categorized by their
          severity.
        </li>
        <li>
          <strong>See all backups with basic data</strong>: Browse through a
          list of all backups, including essential information such as Backup
          ID, size and creation date.
        </li>
        <li>
          <strong>See how the size of the backup evolved over time</strong>:
          Visualize the changes in backup sizes over time through the
          <strong>Recent Backup Timeline</strong> chart, helping you
          understand the growth and trends in your backup data.
        </li>
        <li>
          <strong>See Recent Backup Size Distribution</strong>: Analyze the
          recent distribution of backup sizes through the
          <strong>Recent Backup Size Distribution</strong> chart.
        </li>
      </ul>

      <p>More insights will follow.</p>
    </div>
  </div>
</div>