<clr-vertical-nav class="sidebar">
  <clr-vertical-nav-group>
    <clr-vertical-nav-item routerLink="/" routerLinkActive="active">
      <cds-icon shape="home"></cds-icon>
      <span class="nav-text">Home</span>
    </clr-vertical-nav-item>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group>
    <clr-vertical-nav-item routerLink="/upload" routerLinkActive="active">
      <cds-icon shape="upload-cloud"></cds-icon>
      <span class="nav-text">Upload</span>
    </clr-vertical-nav-item>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group>
    <clr-vertical-nav-item routerLink="/findData" routerLinkActive="active">
      <cds-icon shape="settings"></cds-icon>
      <span class="nav-text">Find Data</span>
    </clr-vertical-nav-item>
  </clr-vertical-nav-group>
</clr-vertical-nav>
