.data-store-card {
    margin-bottom: 20px;
}

.data-store-name {
    font-weight: bold;
    margin-right: 10px;
}

.progress-bar-container {
    position: relative;
    width: 100%;
}

.high-water-mark {
    height: 100%;
    width: 2px;
    background-color: red;
    position: absolute;
    top: 0;
}