.header {
    background-color: white;
    justify-content: space-around;
    position: relative;
}

.top-section {
    display: flex;
    gap: 40px;
    margin: 20px 0;
    align-items: center;
    position: relative;
}

.info-panel {
    border: 1px solid #0D233A;
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: space-between;
}

.info-badge {
    color: #0D233A;
    width: 30px;
    height: 30px;
    margin-left: 6px;
}

.alert-panel,
.data-stores-panel {
    flex: 1;
}

.card {
    position: relative;
    z-index: 1;
}

.card-block {
    padding: 20px;
}

.clr-form-control {
    margin-top: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-title {
    margin: 0;
    font-weight: 500;
}

.card-header-actions {
    display: flex;
    align-items: center;
}

:host ::ng-deep .card-header {
    border-bottom: none !important;
}
