<h1 class="header">Analysis Overview</h1>

<ng-container *ngIf="alertSummary$ | async as summary">
  <!-- Summary Cards -->
  <div class="clr-row">
    <!-- Alert Statistics Card -->
    <div class="clr-col-12 clr-col-md-6">
      <div class="card">
        <div class="card-block" id="alert-summary-card">
          <div class="card-title">Alert Statistics</div>
          <div class="card-text">
            <div class="alert-summary">
              <div
                class="summary-item"
                *ngIf="summary.criticalAlerts && summary.criticalAlerts > 0"
              >
                <cds-icon
                  shape="error-standard"
                  class="is-solid critical"
                ></cds-icon>
                <span>{{ summary.criticalAlerts }} Critical</span>
              </div>
              <div
                class="summary-item"
                *ngIf="summary.warningAlerts && summary.warningAlerts > 0"
              >
                <cds-icon
                  shape="warning-standard"
                  class="is-solid warning"
                ></cds-icon>
                <span>{{ summary.warningAlerts }} Warnings</span>
              </div>
              <div
                class="summary-item"
                *ngIf="summary.infoAlerts && summary.infoAlerts > 0"
              >
                <cds-icon
                  shape="info-standard"
                  class="is-solid info"
                ></cds-icon>
                <span>{{ summary.infoAlerts }} Information</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Frequent Alerts Card -->
    <div class="clr-col-12 clr-col-md-6">
      <div class="card frequent-alerts-card" *ngIf="summary.mostFrequentAlert">
        <div class="card-block">
          <div class="card-title">Most Frequent Alerts</div>
          <div
            class="card-text"
            *ngIf="summary.repeatedAlerts.length > 0; else noAlerts"
          >
            <!-- Most Frequent Alert -->
            <clr-tooltip>
              <div
                class="alert-trigger"
                [ngClass]="summary.mostFrequentAlert.severity.toLowerCase()"
                clrTooltipTrigger
              >
                <div class="alert-header">
                  <cds-icon
                    [attr.shape]="
                      getSeverityIcon(summary.mostFrequentAlert.severity)
                    "
                    class="is-solid"
                  ></cds-icon>
                  <span class="alert-type">{{
                    summary.mostFrequentAlert.type
                  }}</span>
                  <span class="alert-count"
                    >{{ summary.mostFrequentAlert.count }} occurrences</span
                  >
                </div>

                <div class="alert-meta">
                  <span *ngIf="summary.mostFrequentAlert.taskId">
                    <strong>Task ID:</strong>
                    {{ summary.mostFrequentAlert.taskId }}
                  </span>
                </div>
              </div>

              <clr-tooltip-content clrPosition="left" clrSize="lg" *clrIfOpen>
                <div class="alert-history">
                  <h6>
                    <cds-icon shape="history" class="is-solid"></cds-icon>
                    Alert History
                  </h6>

                  <div class="timeline">
                    <div
                      *ngFor="
                        let occurrence of summary.mostFrequentAlert.history
                      "
                      class="timeline-item"
                      [ngClass]="
                        summary.mostFrequentAlert.severity.toLowerCase()
                      "
                    >
                      <div class="timeline-date">
                        {{ occurrence.date | date : 'MMM d, y, h:mm a' }}
                      </div>
                      <div
                        class="timeline-severity"
                        [ngClass]="
                          summary.mostFrequentAlert.severity.toLowerCase()
                        "
                      >
                        <cds-icon
                          [attr.shape]="
                            getSeverityIcon(summary.mostFrequentAlert.severity)
                          "
                          class="is-solid"
                        ></cds-icon>
                        {{ summary.mostFrequentAlert.severity }}
                      </div>
                      <div class="timeline-details">
                        Alert ID: {{ occurrence.alertId }}
                      </div>
                    </div>
                  </div>
                </div>
              </clr-tooltip-content>
            </clr-tooltip>


            <div
              *ngIf="summary.repeatedAlerts.length > 1"
              class="repeated-alerts"
            >
              <h6>Other Repeated Alerts</h6>
              <div *ngFor="let alert of summary.repeatedAlerts.slice(1, 4)">
                <clr-tooltip>
                  <div
                    class="alert-trigger"
                    [ngClass]="alert.severity.toLowerCase()"
                    clrTooltipTrigger
                  >
                    <div class="alert-header">
                      <cds-icon
                        [attr.shape]="getSeverityIcon(alert.severity)"
                        class="is-solid"
                      ></cds-icon>
                      <span class="alert-type">{{ alert.type }}</span>
                      <span class="alert-count"
                        >{{ alert.count }} occurrences</span
                      >
                    </div>

                    <div class="alert-meta" *ngIf="alert.taskId">
                      <span>
                        <strong>Task ID:</strong> {{ alert.taskId }}
                      </span>
                    </div>
                  </div>

                  <clr-tooltip-content
                    clrPosition="left"
                    clrSize="lg"
                    *clrIfOpen
                  >
                    <div class="alert-history">
                      <h6>
                        <cds-icon shape="history" class="is-solid"></cds-icon>
                        Alert History
                      </h6>

                      <div class="timeline">
                        <div
                          *ngFor="let occurrence of alert.history"
                          class="timeline-item"
                          [ngClass]="alert.severity.toLowerCase()"
                        >
                          <div class="timeline-date">
                            {{ occurrence.date }}
                          </div>
                          <div
                            class="timeline-severity"
                            [ngClass]="alert.severity.toLowerCase()"
                          >
                            <cds-icon
                              [attr.shape]="getSeverityIcon(alert.severity)"
                              class="is-solid"
                            ></cds-icon>
                            {{ alert.severity }}
                          </div>
                          <div class="timeline-details">
                            Alert ID: {{ occurrence.alertId }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </clr-tooltip-content>
                </clr-tooltip>
              </div>
            </div>
          </div>

          <ng-template #noAlerts>
            <p>No alerts found</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Message -->
  <clr-alert *ngIf="error" class="alert-danger">
    <clr-alert-item>
      <span class="alert-text">{{ error }}</span>
    </clr-alert-item>
  </clr-alert>

  <!-- Alert Grid -->
  <clr-datagrid
    *ngIf="alerts$ | async as alerts"
    [clrDgLoading]="loading"
    (clrDgRefresh)="refresh($event)"
  >
    <clr-dg-column [clrDgField]="'severity'" [clrDgColAutoWidth]="true">
      <ng-container *clrDgHideableColumn>
        Severity
        <clr-dg-filter [clrDgFilter]="alertSeverityFilter">
          <div class="clr-form-control">
            <label class="clr-control-label">Severity:</label>
            <div class="clr-control-container">
              <div class="clr-select-wrapper">
                <select
                  class="clr-select"
                  [(ngModel)]="alertSeverityFilter.ranges.severity"
                  (ngModelChange)="
                    alertSeverityFilter.updateRanges({ severity: $event })
                  "
                >
                  <option value="">All</option>
                  <option *ngFor="let type of severityTypes" [value]="type">
                    {{ type }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </clr-dg-filter>
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'date'">
      <ng-container *clrDgHideableColumn>
        Date
        <clr-dg-filter [clrDgFilter]="alertDateFilter">
          <clr-input-container>
            <label>From:</label>
            <input
              clrInput
              type="date"
              [(ngModel)]="alertDateFilter.ranges.fromDate"
              (ngModelChange)="
                alertDateFilter.updateRanges({ fromDate: $event })
              "
            />
          </clr-input-container>
          <clr-input-container>
            <label>To:</label>
            <input
              clrInput
              type="date"
              [(ngModel)]="alertDateFilter.ranges.toDate"
              (ngModelChange)="alertDateFilter.updateRanges({ toDate: $event })"
            />
          </clr-input-container>
        </clr-dg-filter>
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">
      <ng-container *clrDgHideableColumn>
        Type
        <clr-dg-filter [clrDgFilter]="alertTypeFilter">
          <div class="clr-form-control">
            <label class="clr-control-label">Type:</label>
            <div class="clr-control-container">
              <div class="clr-select-wrapper">
                <select
                  class="clr-select"
                  [(ngModel)]="alertTypeFilter.ranges.severity"
                  (ngModelChange)="
                    alertTypeFilter.updateRanges({ alertType: $event })
                  "
                >
                  <option value="">All</option>
                  <option
                    *ngFor="let type of alertTypeSubject | async"
                    [value]="type.name"
                  >
                    {{ type.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </clr-dg-filter>
      </ng-container>
    </clr-dg-column>
    <clr-dg-column [clrDgColAutoWidth]="true">Details</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any alerts!</clr-dg-placeholder>
    <clr-dg-row *ngFor="let alert of alerts.data" [clrDgItem]="alert">
      <clr-dg-cell>
        <div
          class="severity-badge"
          [ngClass]="{
            'severity-critical':
              alert.alertType.severity === SeverityType.CRITICAL,
            'severity-warning':
              alert.alertType.severity === SeverityType.WARNING,
            'severity-info': alert.alertType.severity === SeverityType.INFO
          }"
        >
          <cds-icon
            [attr.shape]="
              alert.alertType.severity === SeverityType.CRITICAL
                ? 'error-standard'
                : alert.alertType.severity === SeverityType.WARNING
                ? 'warning-standard'
                : 'info-standard'
            "
            class="is-solid"
          >
          </cds-icon>
          {{ alert.alertType.severity }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>{{ formatDate(alert.creationDate) }}</clr-dg-cell>
      <clr-dg-cell class="break-word">{{ alert.alertType.name }}</clr-dg-cell>
      <clr-dg-cell>
        <span style="font-weight: bold">{{ getAlertReason(alert) }}</span>
        <ng-container [ngSwitch]="alert.alertType.name">
          <div *ngSwitchCase="'SIZE_ALERT'">
            <div *ngIf="hasBackup(alert)">
              <strong>Backup Saveset:</strong> {{ alert.backup!.saveset }}<br />
              <strong>Creation Date:</strong>
              {{ formatDate(alert.backup!.creationDate) }}
            </div>
            {{ getAlertDetails(alert) }}
          </div>

          <div *ngSwitchCase="'STORAGE_FILL_ALERT'">
            <ng-container *ngIf="isStorageFillAlert(alert)">
              <strong>Storage Fill:</strong>
              {{ shortenBytes(alert.filled * 1000 * 1000 * 1000) }} /
              {{ shortenBytes(alert.capacity * 1000 * 1000 * 1000) }}<br />
              <strong>High Water Mark:</strong>
              {{ shortenBytes(alert.highWaterMark * 1000 * 1000 * 1000) }}
            </ng-container>
          </div>

          <div *ngSwitchDefault>
            {{ getAlertDetails(alert) }}
          </div>
        </ng-container>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgTotalItems]="alerts.paginationData.total"
      >
        <clr-dg-page-size [clrPageSizeOptions]="PAGE_SIZES"
          >Alerts per page</clr-dg-page-size
        >
        {{
          alerts.paginationData.offset ? +alerts.paginationData.offset + 1 : 0
        }}
        -
        {{
          alerts.paginationData.offset
            ? +alerts.paginationData.offset + pageSize
            : 0
        }}
        of {{ alerts.paginationData.total }} alerts
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</ng-container>
