<div class="clr-container">
  <h1>Find Data TEST👋</h1>
  <form (ngSubmit)="onSubmit()" clrForm>
    <clr-input-container>
      <label for="textInput">ID eingeben:</label>
      <input
        clrInput
        type="text"
        id="idInput"
        [(ngModel)]="idInput"
        name="idInput"
        required
        placeholder="Geben Sie eine ID ein"
      />
    </clr-input-container>

    <button class="btn btn-outline" type="submit" [disabled]="!idInput">
      Upload
    </button>
  </form>
  <ng-container *ngIf="backup$ | async as backup">
    <div class="card">
      <div class="card-header">{{ backup.id }}</div>
      <div class="card-block">
        <div class="card-text">
          <p>{{ backup.sizeMB }}</p>
          <p>{{ backup.creationDate }}</p>
          <p>{{ backup.bio }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
