<div class="clr-container">
  <h1>Find Data TEST👋</h1>
  <form (ngSubmit)="onSubmit()" clrForm>
    <clr-input-container>
      <label for="textInput">ID:</label>
      <input
        clrInput
        type="text"
        id="idInput"
        [(ngModel)]="idInput"
        name="idInput"
        required
        placeholder="Please enter your ID"
      />
    </clr-input-container>

    <button class="btn btn-outline" type="submit" [disabled]="!idInput">
      Upload
    </button>
  </form>
  <h5>ID:</h5>
  <ng-container *ngIf="data">
    <span class="label label-info">{{ data.id }}</span>
    <form clrForm>
      <clr-textarea-container>
        <label>Data description</label>
        <textarea
          clrTextarea
          [(ngModel)]="data.text"
          name="description"
          required
          disabled
        ></textarea>
      </clr-textarea-container>
    </form>
  </ng-container>
</div>
