<h1 class="header">Backups Overview</h1>
<div class="alert-info-section">
  <app-alert class="alert-panel"></app-alert>
  <app-information-panel class="info"></app-information-panel>
</div>

<div class="clr-row">
  <app-data-stores class="clr-col-12"></app-data-stores>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">Recent Backup Timeline:</div>
        <div class="card-header-actions">
          <button
            class="btn btn-sm btn-link"
            (click)="changeFilterPanelState()"
          >
            <cds-icon shape="filter"></cds-icon>
            <div *ngIf="((filterCount$ | async) ?? 0) as activeFilters">
              <span class="badge badge-info">{{ activeFilters }}</span>
            </div>
          </button>
        </div>
      </div>
      <div class="card-block">
        <div
          id="overviewSizeColumnChart"
          class="mt-4"
          style="width: 100%; height: 400px"
        ></div>
      </div>
    </div>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">Recent Backup Size Distribution:</div>
        <div class="card-header-actions">
          <button
            class="btn btn-sm btn-link"
            (click)="changeFilterPanelState()"
          >
            <cds-icon shape="filter"></cds-icon>
            <div *ngIf="((filterCount$ | async) ?? 0) as activeFilters">
              <span class="badge badge-info">{{ activeFilters }}</span>
            </div>
          </button>
        </div>
      </div>

      <div class="card-block">
        <div id="overviewSizePieChart" style="width: 100%; height: 400px"></div>
      </div>
    </div>
  </div>
</div>
<div class="clr-row">
  <app-backup-table class="clr-col-lg-12 clr-col-lg-12"></app-backup-table>
</div>

<app-side-panel [isOpen]="filterPanel" [charts]="charts"></app-side-panel>