<div class="clr-container">
  <h1>Alerts</h1>
  <div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card" [ngClass]="getStatusClass()">
        <div class="card-header">Status: {{ status }}</div>
        <div class="card-block">
          <div class="card-text">
            <div *ngFor="let alert of alerts">
              <clr-tooltip>
                <div clrTooltipTrigger [ngClass]="getAlertClass()" class="alert">
                  <cds-icon shape="warning-standard" class="is-solid"></cds-icon>
                  <span>{{ getAlertReason(alert) }}</span>
                </div>
                <clr-tooltip-content [clrPosition]="'top-right'" [clrSize]="'lg'">
                  <b>Backup ID:</b>
                  {{ alert.backup.id }}
                  <br />
                  <b>Creation Date:</b>
                  {{ formatDate(alert.backup.creationDate) }}
                  <br />
                  <br />
                  {{ getAlertDetails(alert) }}
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
            <div *ngIf="alerts.length === 0">
              No Alerts.
            </div>
          </div>
        </div>
        <div class="card-footer">
          {{ alerts.length }} Alerts have been triggered
        </div>
      </div>
    </div>
  </div>
</div>