<h1 class="header">Backups Overview</h1>
<div class="alert-info-section">
  <app-alert class="alert-panel"></app-alert>
  <div class="card info">
    <div class="card-block">
      <div class="card-text">
        <p>On this page, you can:</p>
        <ul>
          <li>
            <strong>See Alerts</strong>: View the current status and details of
            any alerts that have been triggered. Alerts are categorized by their
            severity.
          </li>
          <li>
            <strong>See all backups with basic data</strong>: Browse through a
            list of all backups, including essential information such as Backup
            ID, size and creation date.
          </li>
          <li>
            <strong>See how the size of the backup evolved over time</strong>:
            Visualize the changes in backup sizes over time through the
            <strong>Recent Backup Timeline</strong> chart, helping you
            understand the growth and trends in your backup data.
          </li>
          <li>
            <strong>See Recent Backup Size Distribution</strong>: Analyze the
            recent distribution of backup sizes through the
            <strong>Recent Backup Size Distribution</strong> chart.
          </li>
        </ul>

        <p>More insights will follow.</p>
      </div>
    </div>
  </div>
</div>

<div class="clr-row">
  <app-data-stores class="clr-col-12"></app-data-stores>
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">Recent Backup Timeline:</div>
        <div class="card-header-actions">
          <button
            class="btn btn-sm btn-link"
            (click)="changeFilterPanelState()"
          >
            <cds-icon shape="filter"></cds-icon>
            <div *ngIf="(backupTaskSubject$ | async)?.length as activeFilters">
              <span class="badge badge-info">{{ activeFilters }}</span>
            </div>
          </button>
        </div>
      </div>
      <div class="card-block">
        <div
          id="backupTimelineChart"
          class="mt-4"
          style="width: 100%; height: 400px"
        ></div>
      </div>
    </div>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">Recent Backup Size Distribution:</div>
        <div class="card-header-actions">
          <button
            class="btn btn-sm btn-link"
            (click)="changeFilterPanelState()"
          >
            <cds-icon shape="filter"></cds-icon>
            <div *ngIf="(backupTaskSubject$ | async)?.length as activeFilters">
              <span class="badge badge-info">{{ activeFilters }}</span>
            </div>
          </button>
        </div>
      </div>

      <div class="card-block">
        <div id="backupSizeChart" style="width: 100%; height: 400px"></div>
      </div>
    </div>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-lg-12">
    <h3>All Backups:</h3>
    <clr-datagrid
      *ngIf="backups$ | async as backups"
      (clrDgRefresh)="refresh($event)"
      [clrDgLoading]="loading"
    >
      <clr-dg-column [clrDgField]="'saveset'">
        <ng-container *clrDgHideableColumn>
          Saveset
          <clr-dg-filter [clrDgFilter]="backupSavesetFilter">
            <clr-input-container>
              <label>Saveset:</label>
              <input
                clrInput
                type="string"
                [(ngModel)]="backupSavesetFilter.ranges.saveset"
                (ngModelChange)="
                  backupSavesetFilter.updateRanges({ saveset: $event })
                "
              />
            </clr-input-container>
          </clr-dg-filter>
        </ng-container>
      </clr-dg-column>

      <clr-dg-column [clrDgField]="'sizeMB'">
        <ng-container *clrDgHideableColumn>
          Size (MB)
          <clr-dg-filter [clrDgFilter]="backupSizeFilter">
            <clr-input-container>
              <label>From:</label>
              <input
                clrInput
                type="number"
                [(ngModel)]="backupSizeFilter.ranges.fromSizeMB"
                (ngModelChange)="
                  backupSizeFilter.updateRanges({ fromSizeMB: $event })
                "
              />
            </clr-input-container>
            <clr-input-container>
              <label>To:</label>
              <input
                clrInput
                type="number"
                [(ngModel)]="backupSizeFilter.ranges.toSizeMB"
                (ngModelChange)="
                  backupSizeFilter.updateRanges({ toSizeMB: $event })
                "
              />
            </clr-input-container>
          </clr-dg-filter>
        </ng-container>
      </clr-dg-column>

      <clr-dg-column [clrDgField]="'taskName'">
        <ng-container *clrDgHideableColumn>
          Task
          <clr-dg-filter [clrDgFilter]="taskFilter">
            <clr-input-container>
              <label>Task:</label>
              <input
                clrInput
                type="string"
                [(ngModel)]="taskFilter.ranges.taskName"
                (ngModelChange)="taskFilter.updateRanges({ taskName: $event })"
              />
            </clr-input-container>
          </clr-dg-filter>
        </ng-container>
      </clr-dg-column>

      <clr-dg-column [clrDgField]="'type'">
        <ng-container *clrDgHideableColumn>
          Type
          <clr-dg-filter [clrDgFilter]="typeFilter">
            <clr-combobox-container>
              <clr-combobox
                [(ngModel)]="selectedBackupTypesForTable"
                [clrMulti]="true"
                (ngModelChange)="setBackupTypesForTable($event)"
                placeholder="Select backup types">
                <ng-container *clrOptionSelected="let value">
                  {{ value }}
                </ng-container>
                <clr-options>
                  <clr-option *ngFor="let option of backupEnumTypes" [clrValue]="option">
                    {{ option }}
                  </clr-option>
                </clr-options>
              </clr-combobox>
            </clr-combobox-container>
          </clr-dg-filter>
        </ng-container>
      </clr-dg-column>

      <clr-dg-column
        [clrDgField]="'creationDate'"
        [clrDgSortOrder]="ClrDatagridSortOrder.DESC"
      >
        <ng-container *clrDgHideableColumn>
          Creation Date
          <clr-dg-filter [clrDgFilter]="backupDateFilter">
            <clr-input-container>
              <label>From:</label>
              <input
                clrInput
                type="date"
                [(ngModel)]="backupDateFilter.ranges.fromDate"
                (ngModelChange)="
                  backupDateFilter.updateRanges({ fromDate: $event })
                "
              />
            </clr-input-container>
            <clr-input-container>
              <label>To:</label>
              <input
                clrInput
                type="date"
                [(ngModel)]="backupDateFilter.ranges.toDate"
                (ngModelChange)="
                  backupDateFilter.updateRanges({ toDate: $event })
                "
              />
            </clr-input-container>
          </clr-dg-filter>
        </ng-container>
      </clr-dg-column>

      <clr-dg-placeholder>We couldn't find any backups!</clr-dg-placeholder>
      <clr-dg-row *ngFor="let backup of backups.data" [clrDgItem]="backup">
        <clr-dg-cell>{{ backup.saveset }}</clr-dg-cell>
        <clr-dg-cell>{{ backup.sizeMB }}</clr-dg-cell>
        <clr-dg-cell>{{ backup.taskId?.displayName ?? '' }}</clr-dg-cell>
        <clr-dg-cell>{{ backup.type }}</clr-dg-cell>
        <clr-dg-cell>{{ backup.creationDate | date }}</clr-dg-cell>
        <clr-dg-action-overflow>
          <button class="action-item">More Details</button>
          <button class="action-item">Edit</button>
          <button class="action-item">Delete</button>
        </clr-dg-action-overflow>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgTotalItems]="backups.paginationData.total"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
            Backups per page
          </clr-dg-page-size>
          {{
            backups.paginationData.offset
              ? +backups.paginationData.offset + 1
              : 0
          }}
          -
          {{
            backups.paginationData.offset
              ? +backups.paginationData.offset + pageSize
              : 0
          }}
          of {{ backups.paginationData.total }} backups
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-side-panel
  [(clrSidePanelOpen)]="filterPanel"
  position="right"
  [clrSidePanelSize]="'md'"
>
  <div class="side-panel-title">Chart Filter Options</div>
  <div class="side-panel-body">
    <div>
      <h5>Time Range</h5>
      <div class="btn-group-vertical">
        <button
          *ngFor="let range of timeRanges"
          class="btn"
          [class.btn-primary]="(timeRange$ | async) === range"
          (click)="setTimeRange(range)"
        >
          Last {{ range | titlecase }}
        </button>
      </div>
    </div>

    <div>
      <h5>Tasks</h5>
      <clr-combobox-container *ngIf="allBackupTasks$" class="backupTaskFilter">
        <clr-combobox
          name="task"
          [(ngModel)]="selectedTask"
          [clrLoading]="tasksLoading"
          clrMulti="true"
          (ngModelChange)="setBackupTask($event)"
          (clrInputChange)="onSearchInput($event)"
          placeholder="Select backup task"
          [clrPosition]="'bottom-left'"
        >
          <ng-container *clrOptionSelected="let task">
            <span class="selected-item">
              <cds-icon
                shape="tag"
                aria-label="selected backup task tag"
              ></cds-icon>
              {{ task ? task.displayName : 'All Tasks' }}
            </span>
          </ng-container>

          <clr-options>
            <ng-container *ngIf="selectedbackupTasks$ | async as tasks">
              <clr-option
                *clrOptionItems="let task of tasks; field: 'displayName'"
                [clrValue]="task"
              >
                <cds-icon
                  shape="data-cluster"
                  aria-label="backup task"
                ></cds-icon>
                {{ task.displayName }}
              </clr-option>
            </ng-container>
          </clr-options>
        </clr-combobox>
        <clr-control-error>There was an error</clr-control-error>
      </clr-combobox-container>
    </div>
    <div>
      <h5>Types</h5>
      <clr-combobox-container class="backupTaskFilter">
        <clr-combobox
          [(ngModel)]="selectedBackupTypesForCharts"
          [clrMulti]="true"
          (ngModelChange)="setBackupTypesForCharts($event)"
          placeholder="Select backup types">
          <ng-container *clrOptionSelected="let value">
            {{ value }}
          </ng-container>
          <clr-options>
            <clr-option *ngFor="let option of backupEnumTypes" [clrValue]="option">
              {{ option }}
            </clr-option>
          </clr-options>
        </clr-combobox>
      </clr-combobox-container>
    </div>
  </div>
  <div class="side-panel-footer">
    <button class="btn btn-outline" (click)="changeFilterPanelState()">
      Close
    </button>
  </div>
</clr-side-panel>
